@font-face {
	font-family: "Iosevka";
	src: url("../fonts/iosevka-regular-minimal.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

.reveal code {
	font-family: "Iosevka", monospace;
}

.reveal pre code {
	font-size: 22px;
	line-height: 24px;
}

.medium p {
	font-size: 0.8em;
}
