@font-face {
	font-family: "Iosevka";
	src: url("../fonts/iosevka-regular-minimal.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

.reveal code {
	font-family: "Iosevka", monospace;
}

.reveal pre code {
	font-size: 22px;
	line-height: 24px;
}

.reveal .medium pre code {
	font-size: 18px;
	line-height: 20px;
}

.medium p, span.medium {
	font-size: 0.8em;
}

span.small {
	font-size: 0.6em;
	vertical-align: middle;
}

.attribution {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 0.33em;
}
